/*st*/
.paywall_outer_wrapper { display:none !important; }
.hard_paywall { display:none !important; }
.noscroll { position:relative !important; }
.z-index-gateway-overlay { display:none !important; }
.neighborhood-selection-modal { display:none !important; }
.neighborhood-selection-overlay { display: none !important; z-index: -9999 !important; }

/*nyt*/
#gatewayUnit { display:none !important; }
#subscribeCallToAction { display:none !important; } 

/*bh*/
#gregbox-outer, #gregbox-signInTab { display: none !important; }

/*i.co.uk*/
#gregbox-outer, #gregbox-signInTab { display:none !important; }
